@model IEnumerable<SupplyChain.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}


<h1>Produtos</h1>
<h5>Cadastro de Produtos</h5>

<br/>
  <div class="border-top"></div>
  <br/>
  
  <section class="container">
    <div class="row">
        <div class="col-12 d-flex align-items-end justify-content-end">
            <a class="btn btn-success" asp-action="Create">Adicionar Produto</a>
        </div>
    </div>
  </section>
  
  <br/>
  <div class="border-top"></div>
<br/>

<table class="table">
    <thead>
        <tr>
           <th>
               ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Código de Referência
            </th>
            <th>
                Categoria
            </th>
            <th>
                Fabricante
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td class="d-flex align-items-end justify-content-end">
                <a asp-action="Edit" style="margin-right: 10px" class="btn btn-primary"  asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details" style="margin-right: 10px" class="btn btn-secondary"  asp-route-id="@item.Id">Detalhar</a> 
                <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
